@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 20px;
  font-size: 30px;
  color: white;
}

.content {
  width: 98%;
  min-height: 100vh;
  margin: 0 auto;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
}

.section_card {
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loadingPage {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10000000;
  background-color: bisque;
}

.active {
  display: block;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chessboard {
  margin: 10px;
  position: relative;
  max-height: 80vh;
  aspect-ratio: 1/1;
  border-radius: 12px;
  border: 6px solid black;
  /* filter: drop-shadow(10px 100px 100px rgba(0, 0, 0, 0.125)); */
}

.clock {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  font-family: "Xenotron", sans-serif;
}

.chessboard {
  flex-wrap: wrap;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  display: flex;
}

.light-cell {
  background-color: #f0d9b5;
}

.dark-cell {
  background-color: #b58863;
}

.field {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.field img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  /* Чтобы изображение оставалось по центру ячейки */
}

.active {
  border: blue solid 4px;
}

.ready {
  border: rgb(255, 0, 0) solid 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loadingPage {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10000000;
  background-color: bisque;
}

.active {
  display: block;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chessboard {
  margin: 10px;
  position: relative;
  max-height: 80vh;
  aspect-ratio: 1/1;
  border-radius: 12px;
  border: 6px solid black;
  /* filter: drop-shadow(10px 100px 100px rgba(0, 0, 0, 0.125)); */
}

.clock {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  font-family: "Xenotron", sans-serif;
}

body {
  background-color: #333;
}

.chessboard {
  flex-wrap: wrap;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  display: flex;
  margin: 10px;
  position: relative;
  max-height: 80vh;
  aspect-ratio: 1/1;
  border-radius: 12px;
  border: 4px solid rgb(81, 83, 83);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.light-cell {
  background-color: #f0d9b5;
}

.dark-cell {
  background-color: #b58863;
}

.field {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form {
  width: 100%;
  height: 100%;
}

.field img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  /* Чтобы изображение оставалось по центру ячейки */
}

.active {
  border: blue solid 4px;
}

.ready {
  border: rgb(255, 0, 0) solid 4px;
}

.form h2 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 10px;
}

.form select {
  font-size: 12px;
  padding: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.blackPlayer {
  transform: rotate(180deg);
}

.blackPlayer * {
  transform: rotate(90deg);
}/*# sourceMappingURL=style.css.map */