

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #333;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	padding: 20px;
	font-size: 30px;
	color: white;
}

.content {
	width: 98%;
	min-height: 100vh;
	margin: 0 auto;
}
.games {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 10px;
}
.section_card {
	display: flex;
	justify-content: center;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

.form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.loadingPage {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 10000000;
	background-color: bisque;
}

.active {
	display: block;
}

main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.chessboard {
	margin: 10px;
	position: relative;
	max-height: 80vh;
	aspect-ratio: 1/1;
	border-radius: 12px;
	border: 6px solid black;
	/* filter: drop-shadow(10px 100px 100px rgba(0, 0, 0, 0.125)); */
}

.clock {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 30px;
	color: white;
	font-family: "Xenotron", sans-serif;
}
